.map{
  width: 100vw;
  height: 100vh;
}

.list-group{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}

button{
  position: fixed;
  bottom: 25px;
  right: 20px;
}
